html body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 16px;
    color: whitesmoke;
    line-height: 160%;
    background-image: url(images/bg.png);
}

img {
    z-index: 1;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.untenrechts {
    position: absolute;
    left: 371px;
    top: 278px;
}

.schnee1 {
    position: absolute;
    top: 0px;
    left: 50px;
    animation-name: snow;
    animation-duration: 3s;
    animation-delay: -0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.schnee2 {
    position: absolute;
    top: 0px;
    left: 180px;
    animation-name: snow;
    animation-duration: 2.2s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.schnee3 {
    position: absolute;
    top: 0px;
    left: 320px;
    animation-name: snow;
    animation-duration: 3s;
    animation-delay: -1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.schnee4 {
    position: absolute;
    top: 0px;
    left: 410px;
    animation-name: snow;
    animation-duration: 2.5s;
    animation-delay: -0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.schnee5 {
    position: absolute;
    top: 0px;
    left: 520px;
    animation-name: snow;
    animation-duration: 2.8s;
    animation-delay: -0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.text {
    padding: 70px;
    position: absolute;
    bottom: 10px;
    
}

.unterschrift {
    position: absolute;
    bottom: 50px;
    left: 260px;
}

@keyframes snow {
    0%   {top:0px;}
    25%  {top:100px;}
    50%  {top:200px;}
    75%  {top:300px;}
    100% {top:400px;}