body, html {
    margin: 0;
}

body {
    width: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: lightgrey;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 0px;
}

.amount {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(92, 92, 92);
}

.sidenote {
    font-size: 12px;
    color: rgb(141, 141, 141);
    line-height: 16px;
    padding: 5px;
    position: relative;
    top: -50PX;
}

p, input {
    padding: 20px;
    background-color: white;
    margin: 2px;
    margin-bottom: 3px;
    border-radius: 3px;
}

p {
    box-shadow: 2px 2px 4px darkgray;
}

#add {
    position: relative;
    left: 520px;
    top: -65px;
}

#todos {
    position: relative;
    top: -60px;
}

input {
    width: 556px;
    font-size: 20px;
    border: none;
}

button {
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    color: rgb(92, 92, 92);
    background-color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(190, 221, 241);
}

i {
    font-size: 35px;
    color: grey;
    margin-right: 15px;
    vertical-align: middle;
}

.todotask {
    position: relative;
    left: -30px;
}

#trash {
    opacity: 0.1;
    float: right;
}

#trash:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.2s;
}

.fa-circle {
    z-index: 2;
}



.container {
    display: inline;
    position: relative;
    left: -45px;
    z-index: 1;
    vertical-align: middle;
    padding-left: 35px;
    cursor: pointer;
  }
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 12px;
    border-color: rgb(92, 92, 92);
    background-color:white;
  }
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
.container input:checked ~ .checkmark:after {
    display: block;
  }
  
.container .checkmark:after {
    left: 7px;
    top: 1px;
    width: 7px;
    height: 15px;
    border: solid rgb(92, 92, 92);
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }