/*html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#canvas {
    height: auto;
    width: 100%;
    overflow: hidden;
}
 /*Im Landscape Modus so, im Portrait Modus andersrum, overflow: hidden*/